<footer class="bg-light mt-auto py-sm-2">
    <div class="container">
        <div class="row justify-content-center font-weight-light m-2">
            <a href="/about" class="text-body small mx-1 mx-md-3">本站介绍</a>
            <a href="/feedback" class="text-body small mx-1 mx-md-3">反馈</a>
            <a href="/service" class="text-body small ml-1 mx-md-3">服务协议</a>
        </div>
        <div class="row justify-content-center small">
            <span class="text-muted small">© 高考填报101.2019</span>
        </div>
    </div>
</footer>