<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/favicon.ico" alt="logo" class="mr-1">
            高考填报 101
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="/">首页</a></li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        看趋势
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/trend/locationLine">本科批次线</a>
                        {{!--
                        <a class="dropdown-item" href="#">待实现</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">待实现</a>
                        --}}
                    </div>
                </li>
                <li class="nav-item active"><a class="nav-link" href="/setGoal">定目标</a></li>
                <li class="nav-item active"><a class="nav-link" href="/doMatch">做匹配</a></li>
            </ul>
        </div>
    </div>
</nav>