<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/favicon.ico" alt="logo" class="mr-1">
            高考填报 101
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="/">首页</a></li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        看趋势
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/trend">看趋势</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/trend/locationLine">本科批次线历史数据</a>
                        <a class="dropdown-item" href="/trend/locationLinePredict">2019本科批次线预测</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/search/location">地区分数线查询</a>
                        <a class="dropdown-item" href="/search/university">高校分数线查询</a>
                        <a class="dropdown-item" href="/search/major">专业分数线查询</a>
                        {{!--
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">待实现</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">待实现</a>
                        --}}
                    </div>
                </li>
                <li class="nav-item active"><a class="nav-link" href="/setGoal">定目标</a></li>
                <li class="nav-item active"><a class="nav-link" href="/doMatch">做匹配</a></li>
            </ul>
            <form class="form-inline" action="/search">
                <select class="custom-select" id="searchType" aria-label="search type option" name="type">
                    <option value="0">地区</option>
                    <option value="1">高校</option>
                    <option value="2">专业</option>
                </select>
                <div class="input-group-append">
                    <input class="form-control mr-sm-2" type="search" placeholder="可直接点击查询" aria-label="Search" maxlength="20" name="key">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">查询</button>
                </div>
            </form>
        </div>
    </div>
</nav>