<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1"/>
{{{_sections.head}}}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/vendor/bootstrap/4.3.1/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/site.css"/>
{{#if showTests}}
    <link rel="stylesheet" href="/vendor/mocha.css">
{{/if}}
</head>
<body>
    {{{body}}}
    <script src="/vendor/jquery/3.4.0/jquery.js"></script>
    <script src="/vendor/poper/1.15.0/umd/popper.js"></script>
    <script src="/vendor/bootstrap/4.3.1/js/bootstrap.js"></script>
{{#if showTests}}
    <div id="mocha"></div>
    <script src="/vendor/mocha.js"></script>
    <script src="/vendor/chai.js"></script>
    <script>
        mocha.ui('tdd');
        var assert = chai.assert;
    </script>
    <script src="/qa/tests-global.js"></script>
{{#if pageTestScript}}
    <script src="{{pageTestScript}}"></script>
{{/if}}
    <script>mocha.run();</script>
{{/if}}
</body>
</html>