<main role="main" class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">404</h1>
        <p class="lead">页面不存在</p>
        <p class="lead text-muted">来源是否正确？链接是否存在？</p>
        <hr class="my-4">
        <div class="container">
            <a href="/">< 返回首页</a>
        </div>
    </div>
</main>