<main role="main" class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">500</h1>
        <p class="lead">系统错误</p>
        <hr class="my-4">
        <div class="container">
            <a href="/">< 返回首页</a>
        </div>
    </div>
</main>