{{#section 'head'}}
    <title>高考填报101</title>
    <meta name="description" content="查看历年高考分数线，学校分数线，专业分数线">
    <meta name="keywords" content="查看历年高考分数线，学校分数线，专业分数线">
{{/section}}

{{> header}}
<div class="container">
    <h2 class="text-center mt-4 mb-3">高考填报 101</h2>
    <h4 class="mb-3">让数据说话，助力高考填报</h4>
    <p>
        将历年高考地区分数线、高校分数线、专业分数线汇总，并用图表的方式展示整体趋势。让人人都能看懂数据，不遗漏任何志愿选择，评估录取可能性。辅助考生和家长筛选志愿，确定填报策略。
    </p>
    <p class="font-weight-light">
        注：数据范围为全国 985/211 大学的本科一批招生，招生对象为普通学生。
    </p>

    <h5>一、看趋势</h5>
    <p>
        确定志愿范围。通过数据可视化的方式，将历年招生情况做整体呈现。方便考生家长对高校、专业的招生情况有整体认识，结合自身情况确定志愿范围。
    </p>

    <h5>二、定目标</h5>
    <p>
        确定志愿目标。展示范围内志愿的历年招生分数，结合考生自身情况，缩小目标志愿范围。
    </p>

    <h5>三、做匹配</h5>
    <p>
        形成填报策略。评估并预测目标志愿的录取可能性，进一步匹配确定要填报的志愿。
    </p>
</div>
{{> footer}}