{{#section 'head'}}
    <title>高考填报101_反馈作者</title>
    <meta name="keywords" content="高考,高考志愿填报,报考指南,招生,本科专业,录取分数线,985,211,重点大学,高考分数线">
    <meta name="description" content="高考填报101提供985/211重点本科大学高校高考招生分数线查询，包括：地区分数线，学校分数线，专业分数线。">
{{/section}}

{{> header}}
<div class="container pt-5">
    <p>反馈功能开发中</p>
    <div class="card mt-3 col-lg-5">
        <div class="card-body">
            <h5 class="card-title">联系作者</h5>
            <p class="card-text">邮箱：<a href="mailto:freshleaf@gmail.com">freshleaf@gmail.com</a></p>
            <p class="card-text small">请将反馈问题通过邮件发送给作者</p>
        </div>
    </div>
</div>
{{> footer}}