{{#section 'head'}}
    <title>高考填报101</title>
    <meta name="description" content="查看历年高考分数线，学校分数线，专业分数线">
    <meta name="keywords" content="查看历年高考分数线，学校分数线，专业分数线">
{{/section}}

{{> header}}
<div class="container pt-5">
    <p>反馈功能开发中</p>
    <div class="card mt-3 col-lg-5">
        <div class="card-body">
            <h5 class="card-title">联系作者</h5>
            <p class="card-text">邮箱：<a href="mailto:freshleaf@gmail.com">freshleaf@gmail.com</a></p>
            <p class="card-text small">请将反馈问题通过邮件发送给作者</p>
        </div>
    </div>
</div>
{{> footer}}