{{#section 'head'}}
    <title>高考填报101</title>
    <meta name="description" content="查看历年高考分数线，学校分数线，专业分数线">
    <meta name="keywords" content="查看历年高考分数线，学校分数线，专业分数线">
{{/section}}

    <h1>Home</h1>
    ghfh