{{#section 'head'}}
    <title>高考填报101</title>
    <meta name="description" content="查看历年高考分数线，学校分数线，专业分数线">
    <meta name="keywords" content="查看历年高考分数线，学校分数线，专业分数线">
{{/section}}

{{> header}}
<main role="main" class="container">
    <h1>Home</h1>
    aaa
</main>
{{> footer}}

