{{#section 'head'}}
    <title>高考填报101_服务协议</title>
    <meta name="keywords" content="高考,高考志愿填报,报考指南,招生,本科专业,录取分数线,985,211,重点大学,高考分数线">
    <meta name="description" content="高考填报101提供985/211重点本科大学高校高考招生分数线查询，包括：地区分数线，学校分数线，专业分数线。">
{{/section}}

{{> header}}
<div class="container">
    <h2 class="text-center mt-4 mb-3">服务协议</h2>
    <h4 class="mb-3">高考填报 101 服务协议</h4>
    <p>
        欢迎访问高考填报 101 网站（以下简称本站）。这是一个个人网站，旨在共享高考填报数据并做数据分析展示。联系作者：<a
            href="mailto:freshleaf@gmail.com">freshleaf@gmail.com</a>
    </p>

    <h4>一、知识产权</h4>
    <ul>
        <li>本站大量内容来自网络和开源社区，本着严谨的态度，为每一次引用都标明了出处。</li>
        <li>如果您是相关内容的原作者，认为本站引用有误，或者不希望您的内容出现在本站上，请联系我，我将修正引用或删除相关内容。</li>
        <li>
            本站还有大量内容（包括但不限于文本、图片、代码）是原创内容。这些内容是开放使用的，但是如需引用请标明出处。对于直接使用本网站内
            容而不标明出处的行为，本站保留追责的权利。
        </li>
        <li>本站欢迎读者提供内容，本站会在页面内标明贡献者和共享项目。</li>
    </ul>

    <h4>二、内容使用</h4>
    <ul>
        <li>本站秉持认真负责的态度，对提供的内容严格检查，尽量做到没有纰漏。</li>
        <li>但是作者能力有限，如果真的出现错误，欢迎指正，会把您指导意见计入贡献。</li>
        <li>在引用和使用本站内容前，建议您仔细审查相关内容。如有因使用本站内容而造成损失的情况，作者不负任何责任。</li>
        <li>本站内容对外开放，但是对于同类型（图表、可视化分类型的）网站或平台，禁止批量引用或复制本站内容，我们保留追责的权利。</li>
    </ul>
</div>
{{> footer}}

